.App {
  text-align: center;
}


body {}

.toDosTable {
  border-collapse: collapse;
  border: 1px solid;
  width: 50%;
  margin: 0 auto ;
  margin-top: 3%;
  padding: 30px;

}

th, td ,tr{ text-align: center;
  text-align: left;
  padding: 20px;
  font-size: 25px;
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}

.controlToDos{ 
  
  display: flex;
  width: 50%;
  margin : 0 auto;
  padding: 5px;
  margin-top: 2%;
}
.controlToDos > button{
  width: 650px; 
  font-size:30px ; 
   
  justify-content: space-around;
border: 5px solid  #D6EEEE;;}
 .controlToDos , button:hover{background-color: cadetblue;}