.App {
  text-align: center;
}

.loginContaner{  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border:1px solid ;
  border-radius: 10px;
  background-color:  cadetblue;;
  padding: 25px;
  width: 300px;
  margin: 0 auto;
  text-align: center;
margin-top: 5%;}

.loginContaner *{
  height: 75px;
  font-size: 30px;
  margin: 20px;
}

.homeBody{background-color: cadetblue;
color: aliceblue ;
text-align: center;
margin-top: 10%;}

.linksMenu{display: flex;
justify-content: space-around;
font-size: 100px;
margin-top: 10%;
}
.linksMenu *{color: blue;}


.searchToDo{
position: absolute;  
display: flex;
justify-content: space-around;
top: 10%;
border:1px solid ;
border-radius: 10px;
background-color:  cadetblue;;
padding: 10px;
width: 230px;
text-align: center;
margin-left: 2%;}

.filterToDo{
  position: absolute; 
  top: 20%;
  border:1px solid ;
  border-radius: 10px;
  background-color:  cadetblue;;
  padding: 10px;
  width: 230px;
  text-align: center;
  margin-left: 2%;
  
}
.sortTodos{
  position: absolute; 
  top: 20%;
  border:1px solid ;
  border-radius: 10px;
  background-color:  cadetblue;;
  padding: 10px;
  width: 230px;
  text-align: center;
  left: 2%;
  top: 48%;
}
.filterOptions{
  display: flex;
  justify-content: space-around;
}

.sortOptions{  display: flex;
  justify-content: space-around;}

.toDosTable { 
  
  border-collapse: collapse;
  border: 1px solid;
  width: 50%;
  margin: 0 auto ;
  margin-top: 3%;
  padding: 30px;

}

th, td ,tr{ text-align: center;
  text-align: left;
  padding: 20px;
  font-size: 25px;
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}

.addTodo{ 
  background-color: #D6EEEE;
  display: flex;
  width: 50%;
  margin : 0 auto;
  padding: 5px;
  margin-top: 2%;
  height: 60px;
}
.addTodo *{
  width: 650px; 
  font-size:30px ;   
  justify-content: space-around;
border: 5px solid  #D6EEEE;}
.addTodoBtton{ width: 80px;}
 .controlToDos , button:hover{background-color: cadetblue;}